@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>Do not hesitate to contact us.</p>
<p>Mileta Borisova</p>
<p>Phone number: +359 879 561 801</p>
<p>Email: m.borisova2021@pmg-pernik.com</p>

