@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To WebBookApp!</h1>
    <p>Books For Everyone</p>
    <img src="https://www.creativefabrica.com/wp-content/uploads/2020/09/17/Book-Logo-Graphics-5535886-1.jpg" alt="pictureHome" width="450"/>
   
</div>
